/* INDEX */

:root {
  --gris:rgba(86,61,124,.15);
  --verdeCypher:#53b4a2;
  --verdeDolar: #85bb65;
  --gold:#F4B95F;
  --blanco:#FFFF;
  --bordo:#E4324C;
  --bordefino:#bcbcbc;
  --negro:#000000;
  --violeta:#4f3466ff;
  --grisOscuro:#444;
  --mostaza:#F4BD16;
  --pastel:#F7CAC9;
}

* {
	text-decoration: none;
}

a {
	color: inherit;
} 

a:hover {
   text-decoration:none;
   color: inherit;  
}


body {
	height: 100%;
	margin:0;
    padding:0;   
	background-color: var(--gris);	 
}

/* ENCABEZADO */

header {
	height: 7rem;
	width: 100%;	
}

header img {
	height: 100%;
	width: 100%;
	border-bottom: solid 2px green;
}

.logo {
	display: flex;
	width: 10rem;	
	position: absolute;
	top: 0;
}

.logo h1 {
	font-family: 'MuseoModerno', cursive;
	font-size: 4.3rem;
	font-weight: bold;	
	letter-spacing: -8px;	
	text-shadow: var(--verdeCypher) 4px 2px;
	text-transform: uppercase;	
	white-space: nowrap;
	align-self: center;	
}

.logo img {
	border-radius: 50px;
	width: 100%;
	height: 7rem;
}

/* LOGIN */

.login {
	display:flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
}

.login button {				
	height: 4.3rem;
	width: 4.3rem;	
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, #141e30, #243b55);
	opacity: .7;
	margin-left: 1rem;
}

.login img {
	width: 50%;
	height: 45%;		
}

.login span {	
	font-size: 1rem;
	color: var(--blanco);
	font-weight: bold;	
	text-transform: uppercase;
}

/* HEADER LINKS */

.links-top {	
	margin-top: 20px;	
	display: flex;	
	justify-content: center;
	align-items: center;
	margin-right: 50px;
}

.links-top a {
	padding-left: 75px;	
}

.links-top img {	
	height: 3.2rem;
	width: 3.2rem;
}

.links-top span {
	font-family: 'MuseoModerno', cursive;	
	display: table-caption;
	font-size: 1.1rem;
	color: var(--negro);
	opacity: 0.6;	
}

/* MENU */

#menuVertical {
	width: 6.4rem;
	margin: 20px 50px;
}

#menu-categorias {    
    border-left: 1px solid var(--bordefino); 
    border-right: 1px solid var(--bordefino);
    border-top: 1px solid var(--bordefino); 
    border-bottom: 1px solid var(--bordefino);
    border-radius: 5px;
    overflow: hidden;
}

#menu-categorias li {  
    width: 100px;
    text-align: center;
}

#menu-categorias h3 {
	text-align: center;
	padding: 10px;
    background-color: var(--bordo);
    font-family: 'MuseoModerno', cursive;
    color: var(--blanco);
    width: inherit;
}

#menu-categorias li > a {    
    padding: 10px;
    color: var(--grisOscuro);
}

#menu-categorias > li > a:hover {
    color: var(--blanco);
    background: var(--mostaza);  	
	transition: all 1ms ease-in-out;
}
#menu-categorias li > a > span
{
	font-family: 'MuseoModerno', cursive;
}

/* CARROUSEL INDEX / ZONAS */

.carrouselContainer {
	text-align: -webkit-center;
	align-self: center;	
}

.carousel-item
{
	width: 100%;
}

.carousel-inner img {
	margin: auto;
	width: 100%;
	max-height: 30rem;
}

.anchoTitulo {
	font-family: 'MuseoModerno', cursive;
	width: 27rem;
}

.anchoTitulo2 {	
	width: 33rem;
}

.carousel-caption h5 {
	font-family: 'MuseoModerno', cursive;
}

#carousel-index {
	width: 27rem;
}

#carousel-zonas {
	width: 33rem;	
}

/* FOOTER */

footer {
	margin-top: 6.5rem;
   	width: 100%;   	
   	height: 10em;	
   }

footer img {
	height: 2.4rem;
	width: 2.4rem;
	margin: 1.2rem;
}

.footer-links {
	display: flex;
	justify-content: space-evenly;
	align-content: center;	
	background-color: var(--gold);
}

.footer-links span {
	font-size: 1.34rem;
	color: var(--violeta);	
	letter-spacing: -1px;
	line-height: 1.2;
	opacity: 0;
	position: absolute;
	transition: .9s ease;
	font-family: 'MuseoModerno', cursive;
}

.link1:hover .description1 {
	opacity: .9;
	transform: translate(10%, 90%);
}

.link2:hover .description2 {
	opacity: .9;
	transform: translate(25%, 90%);	
}

.link3:hover .description3 {
	opacity: .9;
	transform: translate(5%, 90%);
}

.link4:hover .description4 {
	opacity: .9;
	transform: translate(5%, 90%);	
}

.link5:hover .description5 {
	opacity: .9;
	transform: translate(25%, 90%);
}

.link6:hover .description6 {
	opacity: .9;
	transform: translate(7%, 90%);	
}

/*----------------------------------- SECCIONES -----------------------------------*/

/* CONOCENOS */

.conocenos h3 {
	font-size: 1.7rem;	
	font-family: 'Roboto Mono', monospace;
	text-decoration: underline;
	font-weight: 700;
	text-align: justify;
	padding-bottom: 10px;
}

.conocenos p, ul li {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;	
	font-size: 0.9rem;
	text-align: left;
	line-height: 1.3;
}

.conocenos-grid {
	margin: 10px 0px 10px 0px;
	padding: 1rem;
	border: 1px solid #555;
	border-radius: 7px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 200px 1fr;	
}

.conocenos-img img {
	border: 1px solid #555;
	border-radius: 10px;	
	max-width: 100%;
	height: auto;
}

.conocenos-body {
	padding: 1rem;
}

.conocenos-body ul {
	margin: 5px 5px 5px 0px;
	padding: 5px 5px 5px 0px;
}

.conocenos-body span {	
	letter-spacing: 4px;
	padding-left: 8rem;
}

/* CONTACTO */

.contacto h3 {
	margin-top: 7px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;	
	font-size: 2rem;
	text-align: center;
	line-height: 1.3;
	text-decoration: underline;
	text-decoration-style: dashed;	
	letter-spacing: 25px;	
}

.contacto p {
	font-family: 'Roboto Mono', monospace;
	padding: 0.7rem;
	margin-bottom: 0.4rem;
	margin-top: 0.2rem;
	font-weight: 300;	
	text-align: justify;	
	background-color: var(--pastel);
	border-radius: 7px;
	text-align: center;
	color: var(--grisOscuro);
	text-transform: uppercase;
	font-size: 0.8rem;
}

.contacto label,option {
	font-family: 'Roboto Mono', monospace;
	padding: 0.5rem;
	font-weight: 300;
	font-size: 0.9rem;
	letter-spacing: 1px;
}

.contacto input::placeholder,.contacto textarea::placeholder {
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8rem;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.form-group.row {
	margin-left: 0px !important;
}

/* MEDIOS DE PAGO */

.pagos {
	font-family: 'Roboto Mono', monospace;
}

.pagos h3 {
	text-align: center;
	margin-top: 7px;
	font-weight: 500;	
	font-size: 2rem;	
	line-height: 1.3;		
	letter-spacing: -4px;
}

.tarjetaGrid {
	margin: auto;
	display: grid;
	grid-gap: .7rem;
	max-width: 20rem;
	grid-template-rows: 2rem;	
	padding: 20px;
	border: .588rem solid var(--blanco);
	border-radius: 2rem;
	margin-top: 1rem;
}

.tarjetaGrid img {	
	width: 5rem;
}

#tarjetaTitle {
	grid-column: span 3;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.5rem;
	color: var(--blanco);
}

.tarjetaFlex {
	display: flex;
	flex-direction: column;
	margin: auto;	
	max-width: 20rem;		
	padding: 20px;
	border: .588rem solid var(--blanco);
	border-radius: 2rem;
	margin-top: 1rem;
}

#efectivo {		
	display: flex;
	align-items: center;	
	font-size: 1.3rem;
	color: var(--verdeDolar);
	padding: 0.3rem;
}

#cheques {	
	display: flex;
	align-items: center;	
	font-size: 1.3rem;
	color: var(--verdeDolar);
	padding: 0.3rem;
}

#transfer {		
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	color: var(--verdeDolar);
	padding: 0.3rem;
}

.tarjetaFlex img {
	width: 2rem;
}

/* METODOS DE ENTREGA */

.entrega h3 {
	text-align: center;
	margin-top: 7px;
	font-weight: 500;	
	font-size: 2rem;	
	line-height: 1.3;		
	letter-spacing: -4px;
	color: var(--grisOscuro);
	text-decoration: underline;
}

.tarjetaEntrega {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	box-shadow: 35px 24px 64px -21px rgba(128,128,120,1);	
	margin: 1rem;	
}

.tarjetaEntrega a {
	color: #007bff;
	text-decoration: underline;
}

.subtituloEntrega {
	padding: 0.8rem;
	background-color: #5eb43e;	
	width: 100%;
	text-align: center;	
}

.subtituloEntrega h5 {
	color: var(--blanco);
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
}

.bodyEntrega {
	padding: 1rem;
	background-color: var(--blanco);	
}

.bodyEntrega span {
	color: var(--grisOscuro);
	font-weight: 400;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.9rem;
}

/* F.A.Q. */

.faq h2 {
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	margin:auto;
	font-weight: 500;	
	font-size: 4rem;	
	line-height: 1.3;		
	letter-spacing: -4px;
	color: var(--grisOscuro);
	text-decoration: underline;
}

.faq-grid {
	margin: auto;
	display: grid;
	grid-template-rows: 15rem 15rem;
	grid-template-columns: 1fr 1fr;	
	grid-gap: 1rem;
}

.boton{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	border-radius: 25px 0px 25px 1px;	
	background-color:  #92A8D1;
}

.boton li {	
	padding-left: 2.6rem;
	color: var(--blanco);
}

/* UNITE */

.uniteGrid {
	display: grid;
	grid-gap: 3rem;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	margin-top: 2rem;	
}

.uniteCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 9px solid #3b3d4b;
	border-radius: 0px 163px 35px 35px;	
	background-color: black;	
}

.uniteBody {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	background-color: white;	
	width: 100%;
	height: 100%;
	border-radius: 0px 15px 25px 25px;
}

.uniteBody h5{
	font-size: 1.5rem;
	font-weight: 600;
	color: #64C2EE;
}

.icon {
	padding: 1rem;	
	max-width: 8rem;
	max-height:auto;	
}

.icon img {
	width: 100%;
	box-shadow: 0 10px 50px rgba(235, 25, 110, 1)
}

/* RESPONSIVE */

@media (max-width: 576px)
{	
	.container {
		margin: 0 !important;
		padding: 0 !important;		
	}

	.logo {
		left: 0;
	}

	.login span {
		display: none;
		visibility: hidden;
	}

	#menuVertical {
		display: none;
		visibility: hidden;
	}

	.links-top {
		margin-left: 1em;
		margin-top: 1em;					
	}
	
	.links-top span {
		font-size: 1em;
	}

	.links-top img {
		display: none;
		visibility: hidden;
	}

	.links-top a {
		padding-left: 20px;
		padding-right: 20px;
	}

	#carousel-index {
		width: 23em;		
	}

	#carousel-zonas {
		width: 23em;
	}

    .anchoTitulo {
    	width: 23em;
    }

     .anchoTitulo2 {
    	width: 23em;
    }

	.logo span {
		display: none;
		visibility: hidden;
	}

	.conocenos-grid {
	display: block;	
	padding: 0;
	}

	.icon {		
		width: 8rem;				
	}

	.uniteCard {		
		border: 4px solid #191970;
		border-radius: 1em;
	}

	.uniteGrid {		
		grid-gap: .5rem;
	}
}

@media (min-width: 576px) and (max-width: 767px)
{
	.container {
		margin: 0 !important;
		padding: 0 !important;
	}		

    .logo h1 {
		display: flex;
		visibility: visible;
		font-size: 6vw;
		font-weight: normal;
		letter-spacing: -4px;
		white-space: nowrap;
	}
		
    .conocenos-grid {
		display: block;	
		padding: 0;
	}

	.icon {		
		width: 8em;				
	}

	.uniteCard {		
		border: 6px solid #191970;
		border-radius: 0px 100px 0px 0px;
	}

	.uniteGrid {
		grid-gap: .6em;
	}
}

@media (min-width: 767px) and (max-width: 991px)
{
	.container {
		margin: 0 !important;
		padding: 0 !important;
	}

    .logo h1 {
		display: flex;
		visibility: visible;
		font-size: 3.4em;
		font-weight: normal;
		letter-spacing: -4px;	
    }

	.conocenos-grid {
	grid-template-columns: 1fr;
	}

	.icon {
		align-self: flex-start;
}